.container {
    width: 40%;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    background-color: var(--white);
}

.title {
    font-family: 'Ferry';
    font-size: 22px;
    color: var(--nero);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input_label {
    font-size: 18px;
    font-weight: 600;
    color: var(--nero);
}

.input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: 1px solid var(--nero);
    border-radius: 10px;
}

.input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: var(--nero);
    padding: 0 10px;
}

.textarea_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 160px;
    border: 1px solid var(--nero);
    border-radius: 10px;
}

.textarea {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: var(--nero);
    padding: 4px 10px;
}

.button {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: var(--nero);
    background-color: var(--light-yellow);
    transition: .2s ease;
}

.button:active {
    transform: scale(0.95);
}